@import 'antd/dist/antd.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body, #root, .container {
  height: 100%;
}

.page-header {
  background-color: #f9f9f9;
}
