@import 'antd/dist/antd.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body, #root, .container {
  height: 100%;
}

.page-header {
  background-color: #f9f9f9;
  box-shadow: 0 4px 15px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}
.ant-layout {
  height: 100%;
}
.ant-layout-content {
  height: 100%;
}
.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.todo-container {
  height: 100%;
}
